@import '../../common/common.styles';










//INPUT MIXINS
@mixin input-default-size{

}


.minimal-input{
  @include btm-border;
  height: 50px;
  @include secondaryDarkOnLight;
}


.minimal-input2{
  @include btm-border;
  @include secondaryDarkOnLight;
}

.task-input{
  border: none;
  width: 100%;
  @include secondaryDarkOnLight;
}


//INPUTS


//CHARTS
.dchart-container{
  position: relative;
}

.chart-title {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-weight: 300;
  @include titleDarkOnLight;
}


.small-chart-title {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: $info-3rd-lighter !important;
  font-size: $tertiaryFontSize;
  font-weight: 300 !important;
}
























//BUTTONS
.circle-btn{

  font-family: Roboto !important;
  font-size: 18px;
  font-weight: 100;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  padding-left: 3px;
  color: white;
  @include hv-center;

}
#new-pro-btn{
  background: $aqua;
  margin-left: 10px;
  margin-top: 5px;
}




.default-btn-3rd{
  width: 30%;
  height: 50px;
  padding: 10px;
  border: none;
  background: $lighterCoolGray;
  text-align: center;
  text-transform: uppercase;
  @include secondaryDarkOnLight;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.default-btn-3rd:hover {
  background: darken( $lighterCoolGray, 3%);


}










.default-btn {
  margin: 0 !important;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background: $lighterCoolGray;
  text-align: center;
  text-transform: uppercase;
  @include secondaryDarkOnLight;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}


.default-btn:hover {
  background: darken( $lighterCoolGray, 3%);


}


.minimal-btn {
  // margin: 0 !important;
  width: 66px;
  // position: absolute;
  // top: 0;
  // right: 54px;
  // height: 40px;
  padding: 10px;
  border: $thinLightBorder;
  text-align: center;
  text-transform: uppercase;
  color: $info-3rd !important;
  font-size: $tertiaryFontSize;
  font-weight: 100 !important;
  cursor: pointer;


  transition: all 200ms ease-in-out;
}

.minimal-btn:hover {
  background: lighten( $lighterCoolGray, 3%);

}






//POSITIONING 

.v-spacer-20{
  height: 20px;
}








//NAV AND BACKGROUNDS

body {
  overflow-x: hidden;
  margin-right: -250px;
  font-family: Oswald !important;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white !important;
}
.navbar{
  border-radius: 0 !important;
  background: $deepGray !important;
  position: fixed !important;
  left: 0;
  right: 0;
  z-index: 100;
  a{
    @include titleLightOnDark;
  }

}
.project-container{
 max-width: 1180px;
 margin: 50px;
}






//PROJECTS SELECTOR
.project-stub{
  padding: 15px 10px 15px 30px;

  background: $lightCoolGray;
  border-bottom: 1px solid lighten( $lightCoolGray, 3%);
  border-right: 1px solid lighten( $lightCoolGray, 3%);
  width: 250px;
  height: 60px;
  @include text-3rd;
  cursor:pointer;

}
.project-stub:hover{
  background: lighten( $lightCoolGray, 3%);
}

.new-pro-group{
  display: inline-flex;
    // margin-left: -20px;
  }




//PANELS
.panel, .panel-default{
  border: 1px solid lighten($lighterCoolGray, 2%) !important; 

  // box-shadow: none !important;
}

.panel-heading{
  height: 50px !important;
  text-align: center;
  border: $noBorder;

}


.aqua-heading{
  background: $aqua !important;
  color: white !important;
  @include titleLightOnDark;
}


.default-heading{
  background: $panelGray !important;
  @include titleDarkOnLight;
}




































/* SLIDER WRAPPER */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  top: 52px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: lighten($lightCoolGray2, 1%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 0 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
.navbar{
  z-index: 300;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #7F7F7F;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}






/*
.btn-container{
  height: 100px;
  display: flex;
  @include hv-center;
}

.sonar-btn1{
  background: #48E5CF;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  width: 200px;
  padding: 10px;
  border: none;
  height: 40px;
  overflow: hidden;


}


.sonar-txt{
  z-index: 100;
  position: absolute;
  margin: 0 auto;
}



.sonar1{
   height: 200px;
   width: 200px;
   background: #FFFFFF;
   border-radius: 50%;
   z-index: 0;
   opacity: 0;
}



.sonar-btn1 .sonar1.sonar-blink{
   animation: blink .5s ease-in-out forwards;

}

@keyframes blink{
  0%{
     transform: scale(0);
     transform: scale(0);
     opacity: .7;
 }

 100%{
     transform: scale(2.3);
     transform: scale(2.3);
     opacity: 0;
 }
}
*/




