
<div class="col-xs-12 col-md-6">
  <!-- PROJECT PANEL -->
  <div class="panel panel-default ">
    <div class="panel-heading aqua-heading">PROJECT

    </div>
    <!-- <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> -->
    <!-- <div class="minimal-btn " ng-click="tCtrl.tog(); tCtrl.copyProj()">Edit</div> -->

    <div class="panel-body project-panel-body">



      <div class="project-info" id="tog">
        <div class="belt">
          <div class="state state-1">





            <div class="info-half-left info-half">
              <div class="project-info-row">
                <span class="secondary-darker">Title: </span> <span class="secondary-text"> {{tCtrl.project.title}}</span>

                <!--     <div class="btn" ng-click="tCtrl.tog(); tCtrl.copyProj()">Edit</div> -->
              </div>
              <div class="project-info-row">
                <span class="secondary-darker">Client: </span> <span class="secondary-text"> {{tCtrl.project.client}}</span>
              </div>




              <div class="project-info-row">
               <span class="secondary-darker">Due Date: </span> <span class="secondary-text"> {{tCtrl.project.dueDateFormatted}}</span>
             </div>

             <div class="project-info-row">
              <span class="secondary-darker">Rate: </span> <span class="secondary-text"> {{tCtrl.project.rate}}</span>
            </div>
          </div>


          <div class="info-half-right info-half">
            <div class="minimal-btn " ng-click="tCtrl.tog(); tCtrl.copyProj()">Edit</div>
          </div>






        </div>

        <!-- end state 1 -->


        <div class="state state-2">

          <div class="inner-state-2 marg-t-10">
            <div class="flex-row">

              <input class="minimal-input2 flex-row-item marg-r-10" type="text" placeholder="Project Title" ng-model="tCtrl.editProj.title"/>

              <input  class="minimal-input2 flex-row-item" type="text" placeholder="Client" ng-model="tCtrl.editProj.client"/>
            </div>


            <div class="flex-row marg-b-10 marg-t-10">

              <!-- <input class="minimal-input2 flex-row-item marg-r-10" type="date" placeholder="Date" name="date" ng-model="tCtrl.editProj.dueDate"/> -->












              <div class=" derp flex-row">
                <input type="text" class="minimal-input2 derp" readOnly ng-model="tCtrl.editProj.dueDate | date:'yyyy/MM/dd'"/>


                <div class="minimal-btn" ng-click="tCtrl.projCalTog()"><i class="glyphicon glyphicon-calendar"></i></div>
              </div>











              <div class="flex1 flex-row rate">

                <input class="minimal-input2 flex-row-item" type="number" placeholder="Rate" ng-model="tCtrl.editProj.rate"/>
              </div>

            </div>



            <div class="flex-row ">
              <button class="default-btn-3rd flex-row-item marg-r-10" type="button" ng-click="tCtrl.tog()">Cancel</button>

              <button class="default-btn-3rd flex-row-item" type="button" ng-click="tCtrl.delProjTog()">Delete</button>


              <button class="default-btn-3rd flex-row-item marg-l-10" ng-click="tCtrl.updateProj(tCtrl.editProj)">Save</button>
            </div>
          </div>



        </div>


        <!-- end state 2 -->
      </div>
      <!--end belt-->
      <div class="proj-modal" ng-class="tCtrl.projModal">

        <div class="col-xs-12 text-center primary-text marg-b-10">
          Are you sure?
        </div>
        <br>
        <div class="col-xs-12 text-center marg-b-10 marg-t-10">

          <div class="col-xs-6">
            <button class="default-btn col-xs-12 marg-r-10 marg-b-10" type="button" ng-click="tCtrl.delProjTog()">Nope</button>
          </div>

          <div class="col-xs-6">
            <button class="default-btn col-xs-12 marg-l-10 marg-b-10" ng-click="pCtrl.deleteProj(tCtrl.editProj._id)">Yep</button> 
          </div>

        </div>

      </div>
      <div class="proj-cal-modal" ng-class="tCtrl.projCal" ng-click="tCtrl.projCalTog()">

        <div class="col-xs-12 text-center marg-b-10 marg-t-10">

          <div class="col-xs-12">
            <div style="display:inline-block; min-height:290px;">
              <div uib-datepicker ng-model="tCtrl.editProj.dueDate"  datepicker-options="options"></div>
            </div>
          </div>

        

        </div>

      </div>



    </div>
    <!-- end project info container -->



  </div>
  <!-- end panel body -->
</div>
<!-- end panel -->





<!-- TIME LEFT PANEL -->


<div class="panel panel-default " ng-class="panelTimeLeft">
  <div class="panel-heading default-heading">
    Time Left
  </div>
  <div class="panel-body">


    <div class="dchart-container ">
     <label class="chart-title">{{tCtrl.timeFromNow}}</label>

     <canvas id="doughnut" colours="tCtrl.tlChart.colours" options="tCtrl.tlChart.options" class="chart chart-doughnut" data="tCtrl.tlChart.data"
     labels="tCtrl.tlChart.labels"></canvas>
   </div>
   <div class="text-center">
    <br>
    <span class="tertiary-text">Todays Date: {{tCtrl.today | date: 'fullDate'}}</span> 
    <br>
    <span class="tertiary-text">Start Date {{tCtrl.createdDate | date: 'fullDate'}}</span>
  </div>
</div>
</div>






<!-- TOTAL HOURS PANEL -->




<div class="panel panel-default " ng-class="panelHours">
  <div class="panel-heading default-heading">
    Total Hours
  </div>
  <div class="panel-body">


    <div class="dchart-container">
     <label class="chart-title">{{tCtrl.totalHours}}</label>

     <canvas id="doughnut" colours="tCtrl.hoursChart.colours" options="tCtrl.hoursChart.options" class="chart chart-doughnut" data="tCtrl.hoursChart.data"
     labels="tCtrl.hoursChart.labels"></canvas>

<!-- 
  <canvas id="locationBar" class="chart chart-bar" data="tCtrl.chartParams.votes" labels="tCtrl.chartParams.listOfLocations" series="ctCtrl.hartParams.series" colours="tCtrl.chartParams.colours" options="tCtrl.chartParams.options"></canvas> -->
</div>
</div>
</div>


</div>










<!-- TASK PANEL -->
<div class="col-sm-12 col-lg-6">
  <div class="panel panel-default task-panel">
    <div class="panel-heading default-heading">Tasks </div>
    <div class="row task-panel-header">


      <div class="col-xs-4">


       <div class="dropdown">
        <div class="default-btn"  class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Filter
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu cat-select" aria-labelledby="dropdownMenu1">
         <li ng-click="tCtrl.setCat()">All Categories</li>
         <li ng-repeat="cat in tCtrl.categories" ng-click="tCtrl.setCat(cat)" >{{cat}}</li>
       </ul>
     </div>
   </div>



   <div class="col-xs-4">
    <div class="default-btn" ng-click="tCtrl.showCompleted = !tCtrl.showCompleted">COMPLETED</div>
  </div>
  <div class="col-xs-4">
    <div class="default-btn"  ng-click="tCtrl.exp = !tCtrl.exp"> <span class="new-pro-group">NEW<span id="new-pro-btn" class="circle-btn">+</span></span></div>
  </div>







<!--       <div class="col-xs-12">
        <div class="styled-select">
         <select class="" ng-model="tCtrl.catFilter" >
          <option value="" selected>All Categories</option>
          <option data-t="todo" ng-repeat="cat in tCtrl.categories" >{{cat}}</option>
        </select> 
        <div class="arrow-group">
          <span class="top-tri glyphicon glyphicon-triangle-top" area-hiden="true"></span>
          <span class="bottom-tri glyphicon glyphicon-triangle-bottom" area-hiden="true"></span>
        </div>
      </div>
    </div> -->

  </div>
  <!-- end task panel header -->








  <!-- NEW TASK CONTAINER -->
  <div class=" row new-task-container" ng-class="[tCtrl.exp ? 'expand2' : 'contract2']" >

    <!-- ng-hide="!tCtrl.exp" -->
    <div ng-class="[tCtrl.exp ? 'fadein2' : 'fadeout2']" class="expandiv2 " >

      <div class="col-xs-12">



        <div class="col-xs-12 text-center">
         <span class="secondary-text" > NEW TASK</span> 
         <br>
         <div class="advisory">{{tCtrl.newTaskAdvisory}}</div>
       </div>
       <br>

       <input class="new-minimal-input col-xs-12" type="text" placeholder="Task Title" ng-model="tCtrl.newTodoTitle"/>
       <!--  <input class="minimal-input" type="text" placeholder="Hours" ng-model="tCtrl.newTodoHours"/>
       <input class="minimal-input" type="text" placeholder="Minuts" ng-model="tCtrl.newTodoMin"/> -->


       <input class="new-minimal-input col-xs-6" type="text" placeholder="New Category" ng-model="tCtrl.newTodoCat" />

       <div class="dropdown col-xs-6">
        <div class="default-btn" ng-click="tCtrl.catClicked = !tCtrl.catClicked">
          Category
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu cat-select col-xs-12" aria-labelledby="dropdownMenu1">
         <li ng-repeat="cat in tCtrl.categories" ng-click="tCtrl.newTodoCat = cat" >{{cat}}</li>
       </ul>
     </div>


     <textarea class="col-xs-12 new-minimal-input" placeholder="Notes" ng-model="tCtrl.newTodoNotes"></textarea>


   </div>




   <div class="col-xs-6">
     <button class="col-xs-12 default-btn marg-right" type="button" ng-click="tCtrl.exp = !tCtrl.exp; tCtrl.newTaskCancel()">Cancel</button>
   </div>

   <div class="h-spacer"></div>
   <div class="col-xs-6">
     <button class=" col-xs-12 default-btn marg-left " ng-click="tCtrl.addTodo(tCtrl.newTodoTitle, tCtrl.newTodoCat, tCtrl.newTodoNotes )">Create!</button>
   </div>



 </div>



 




 <div class="select-cat-modal-new" ng-class="[tCtrl.catClicked ? 's' : 'h']">
  <div class="col-xs-12">
    <div class="exit" ng-click="tCtrl.catClicked = !tCtrl.catClicked"> x </div>
  </div>
  <div class="all-cats-new">
    <ul>
     <li ng-repeat="cat in tCtrl.categories" ng-click="tCtrl.newTodoCat = cat; tCtrl.catClicked = !tCtrl.catClicked" >{{cat}}</li>
   </ul>
 </div>
</div>


</div>


<div class="fade-down"></div>









<div class="panel-body task-panel-body ">

  <!-- <div class="secondary-text header-numbers"> {{tCtrl.numCompleted("true") || 0}}/{{tCtrl.todos.length}}</div> -->
  <!-- TASK PANEL HEADER -->


















  <!-- ALL TASKS CONTAINER -->


  <div class="row ">
    <div class="col-xs-12 col-md-12">





      <div class="all-todos" ng-class="{'fadein' : tCtrl.todos.length > 0}">
       <div taskrow class="task" data-t="todo" ng-repeat="todo in tCtrl.todos | showComp:tCtrl.showCompleted |  filter: { category: tCtrl.catFilter } track by todo._id" >
        <div class="last-task"></div>
      </div>








      <br>


    </div>
  </div>


</div>









<div class="fade-up"></div>
</div>

<!-- end panel body -->
</div>
<!-- end panel -->










<div class="panel panel-default hours-by-cat-panel fade-panel" ng-class="">
  <div class="panel-heading default-heading">
    Hours by Category
  </div>
  <div class="panel-body hours-by-cat-body ">

<!--     <canvas id="bar" class="chart chart-bar"
  chart-data="tCtrl.barChartData" chart-colors="tCtrl.barChartColors" options="tCtrl.barChartOptions" chart-labels=" tCtrl.barChartLabels" >

</canvas> -->

<canvas id="locationBar" class="chart chart-bar" data="tCtrl.chartParams.vals" labels="tCtrl.chartParams.keys" series="ctCtrl.hartParams.series" colours="tCtrl.chartParams.colours" options="tCtrl.chartParams.options"></canvas>
<!-- chart-series="tCtrl.barChartSeries " -->
</div>
</div>
<!-- 
 <canvas id="doughnut" chart-colors="tCtrl.chartcolors" chart-options="tCtrl.chartoptions" class="chart chart-doughnut" chart-data="tCtrl.chartdata"
     chart-labels="tCtrl.chartlabels"></canvas>

   -->




 </div>
 <!-- end task panel -->



 














