/*Í
ç charts.js center text doughnut chart angular çç
*/ 
.dchart-container{
	position: relative;
}

.chart-title {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	font-weight: 300;
}
/*ÍÍÍÍ*/