@import '../../common/common.styles';



.fade-up{
	position: absolute;
	bottom: 408px;
	height: 150px;
	left: 18px;
	right: 18px;
	pointer-events: none;
	// box-shadow: 0 -29px 68px 89px rgba(255, 255, 255, 0.83);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white) repeat scroll 0 0;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white) repeat scroll 0 0;

}

.fade-down{
	position: absolute;
	height: 35px;
	left: 18px;
	right: 18px;
	margin-top: -3px;
	z-index: 100;
	pointer-events: none;
	// box-shadow: 0 -29px 68px 89px rgba(255, 255, 255, 0.83);
	background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), white) repeat scroll 0 0;
	background: linear-gradient(to top, rgba(255, 255, 255, 0), white) repeat scroll 0 0;

}

.last-task{
	width: 100%;
	height: 70px;
}



.new-task-container{
	height: 0px;
	transition: all 0.3s cubic-bezier(0.21, 0.29, 0.2, 0.96);
	overflow: hidden;

}
.expandiv2{
	opacity: 0;
	background: $lightCoolGray2;
	margin: 10px 25px;
	height: 100%;
	padding: 10px;
	overflow: hidden;
	box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.03);
	border-bottom: 1px solid #EFEFEF;
}

.new-task-container.expand2{
	height: 320px;
	transition: all 0.3s cubic-bezier(0.21, 0.29, 0.2, 0.96);
}


.new-task-container.contract2{
	height: 0px;
	overflow: hidden;
	transition: all 0.3s cubic-bezier(0.21, 0.29, 0.2, 0.96);
	position: relative;
}

.expandiv2.fadeout2{
	opacity: 0;
}

.expandiv2.fadein2{
	opacity: 1;
}


.task-panel-body{
	height: 524px;
	margin-right: -16px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: -3px;
	padding-top: 0 !important;
	

}
.task-panel{
	overflow: hidden !important;
	height: 650px !important;
}



.scrollme{
	margin-right: -16px;
	overflow-y: scroll;
	overflow-x: hidden
}

.all-todos{
	height: 0px;
	opacity: 0;
	transition: 0.5s ease-in-out all 0.3s;
	
}

.all-todos.fadein{
	height: 100%;
	opacity: 1;

}



.new-minimal-input{
	@include btm-border;
	height: 50px;
	@include secondaryDarkOnLight;
	margin-bottom: 10px;
}


.task-panel-header{
	@include btm-border;
	background: $lightCoolGray2;
	margin: 1px;
	padding: 10px;
}


.header-numbers{
	margin-top: 12px;
}

.styled-select select {
	margin-top: 15px;
	width: 110%;
	background: white;
	padding: 5px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 50px;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	outline: none;
}

.styled-select {
	width: 90%;
	height: 50px;
	overflow: hidden;
	border: none;
}

textarea {
	resize: none;
}

.h-spacer{
	width: 10px;


}

.cat-select{
	border: $thinLightBorder;
	transition: 0.5s ease-in-out all 0.3s;

}

.cat-select li{
	cursor: pointer;
	padding: 5px;
	@include secondaryDarkOnLight;

}

.cat-select li:hover{
	background: darken(white, 2%);
	
}





////////////new task cat select

.select-cat-modal-new{
	opacity: 0;
	position: absolute;
	top: 134px;
	left: 22px;
	right: 19px;
	padding: 5px;
	background: white;
	z-index: 240;
	transition: all 1s cubic-bezier(0.21, 0.29, 0.2, 0.96);	
}


.all-cats-new{
	background: white;
	width: 100%;
	height: 250px;
	overflow: scroll;
	margin-right: -16px;
	overflow-x: hidden;
}


.all-cats-new li{
	cursor: pointer;
	padding: 5px;
	@include secondaryDarkOnLight;
	list-style-type: none;
	overflow: hidden;


}


.all-cats-new li:hover{
	background: darken(white, 2%);

	
}




.fade-panel{
	// display: none;
	// opacity: 0;

}

.panel{
	border-radius: 0px !important;
}
.panel-heading{
	border-radius: 0px !important;
}




.fade-panel.ready{
	animation: f-in 0.5s ease-out forwards;
}



@keyframes f-in{
	0%{
		display: none;
		opacity: 0;
	}
	10%{
		display: block;
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}















.hours-by-cat-panel{
	height: 363px;
}
.hours-by-cat-body{
	padding-right: 20px !important;
}





//project panel

.project-panel-body{
	position: relative;
}
.project-info-row{
	margin: 10px 0px;
}









.project-info {
	padding: 0;
	overflow: hidden;
}

.project-info .belt {
	width: 200%;
	display: flex;
	transition: transform 0.5s cubic-bezier(0.21, 0.29, 0.2, 0.96) 0.4s;
}

.project-info .state {
	width: 50% !important;
	height: 174px;
	display: flex;


}

/*/////// state 1 /////////*/
.project-info .state-1 {
	transition: all 0.3s cubic-bezier(0.21, 0.29, 0.2, 0.96);
	opacity: 1;
	flex-flow: column wrap;
	align-content: stretch;
  //  justify-content: center;

}
.info-half-right .minimal-btn{
	float: right;
}
.info-half{
	width: 50%;
}



/*/////// state 2 /////////*/
.project-info .state-2 {
	transition: all 0.3s cubic-bezier(0.21, 0.29, 0.2, 0.96);
	opacity: 0;
}
.inner-state-2{
	display: flex;
	flex: 1;
	flex-direction: column;
}

.flex-row{
	flex-direction: row;
	display: flex;
	flex-grow: 1;
}
.flex-row-item{
	flex-grow: 1;
}




.marg-t-10{
	margin-top: 10px;
}
.marg-r-10{
	margin-right: 10px;
}
.marg-b-10{
	margin-bottom: 10px;
}

.marg-l-10{
	margin-left: 10px;
}

.project-info.is-transitioned .state-1 {
	opacity: 0;
}

.project-info.is-transitioned .state-2 {
	opacity: 1;
}

.project-info.is-transitioned .belt {
	transform: translateX(-50%);
}


.proj-modal{
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: white;
	z-index: 240;
	transition: all 1s cubic-bezier(0.21, 0.29, 0.2, 0.96);	
}
.proj-cal-modal{
	opacity: 0;
	position: absolute;
	top: -50px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: white;
	z-index: 240;
	transition: all 1s cubic-bezier(0.21, 0.29, 0.2, 0.96);	
}


.relative{
  position: relative;
}

.uib-datepicker-popup.dropdown-menu{
  margin-top: -130px !important;
}

.derp{
	width: 100%;
}



.rate{

	width: 100%;
	margin-left: 12px;
}
.flex1{
	flex-grow: 1;
}

.flex2{
	flex-grow: 2;
}

.flex3{
	flex-grow: 3;
}































