 <td><input ng-model='task().task'/> </td>
 <td> <input type='checkbox' ng-model='task().completed' ng-change='ctrl.updatestat(task())'/> 
 </td><td><button class='btn btn-default' type='button' ng-click='ctrl.update(task())'>Edit</button></td>
 <td><button class='btn btn-default' type='button' ng-click='ctrl.destroy(task())'>Delete</button></td>
 <td>

 	{{swctrl.getElapsedMs() }}
 	<span id="new-pro-btn" class="circle-btn" class='btn btn-default'  ng-dblclick="swctrl.reset()"  ng-click='swctrl.start(); ctrl.toggleRec(task())'></span>


<!-- 	
| secondsToDateTime | date:'HH:mm:ss'
  <h2>{{title}}</h2>
  <div><strong>Current Time: </strong>{{currentTime | date:'h:mm:ss a'}}</div>
  <div><strong>Elapsed Time: </strong>
  {{swctrl.getElapsedMs()}} ms
  </div>
  
  <button id="start" class="btn btn-success" ng-click="swctrl.start()">Start</button>
  
  <button id="stop" class="btn btn-danger" ng-click="swctrl.stop()">Stop</button>
  
  
  <button id="reset" class="btn btn-default" ng-click="swctrl.reset()">Reset</button> -->